
video {
    height: 800px;
    padding: 24px;
}

.titlePage {
    color: var(--color-primary);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 89%;
    letter-spacing: 12.5px;
    margin-left: 5%;
    margin-top: 24px;
    max-width: 1000px;
}

h2 {

    color: var(--text01);
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -4px;
    max-width: 1300px;
    margin-left: 5%;
    margin-top: 24px;
    max-width: 1000px;
}

h3 {
    color: var(--text01);
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    max-width: 1000px;
    margin-left: 5%;
    margin-top: 24px;
    max-width: 1000px;
}

.aboutMe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.textos {
    display: flex;
    flex-direction: column;
}

.buttonCV {

    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    text-decoration: none;
    color: var(--color-primary);
    background-color: #000000;
    border-radius: 32px;
    border: 3px solid var(--color-primary);
    text-align: center;
    max-width: 200px;
    margin-left: 5%;
    margin-top: 40px;
    cursor: pointer;
    position: relative;

}

.buttonCV::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, rgb(20, 173, 255), var(--color-primary), blue, var(--color-secundary), rgb(20, 173, 255), var(--color-primary), blue, var(--color-secundary));
    background-size: 800%;
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;

}

.buttonCV:hover {
    background-color: var(--text01);
    transition: all 300ms ease-out;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }

}



@media (min-width: 1100px) and (max-width: 1172px) {

    .titlePage {
        font-size: 50px;
    }


    body {
        background-color: green;
    }

    video {
        height: 80vh;
        padding: 24px;

    }

}

@media (min-width: 1040px) and (max-width: 1100px) {

    body {
        background-color: rgb(19, 0, 128);
    }

    video {
        height: 80vh;
        padding: 24px;
    }

    .titlePage {
        font-size: 40px;

    }

    h2 {
        font-size: 60px;
    }
}


@media (min-width: 830px) and (max-width: 1040px) {

    body {
        background-color: rgb(109, 128, 0);
    }

    video {
        height: 70vh;
        padding: 24px;
    }

    .titlePage {
        font-size: 35px;

    }

    h2 {
        font-size: 50px;
    }
}




@media (min-width: 375px) and (max-width: 830px) {


    .titlePage {
        color: var(--color-primary);
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 89%;
        letter-spacing: 12.5px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 24px;
        letter-spacing: 0;
        max-width: 600px;
    }

    h2 {

        color: var(--text01);
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 24px;
        letter-spacing: 0;
        max-width: 500px;
    }

    video {
        height: 500px;
        padding: 24px;
    }

    h3 {

        max-width: 350px;
        margin-left: 5%;
        margin-top: 24px;
    }

    .buttonCV {
        max-width: 100vw;
        margin-right: 5%;
    }

    .aboutMe {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }


}